.navbar-container{
    background-color: aqua;
    font-size: 20px;
}
div.navbar-container a{
    text-decoration: none;
}

div.main div{
    color: rgb(42, 44, 165);
    font-size: 30px
     ;
}
.container{
    color: blue;
}
.name{
    color:aqua;
    font-size: 25px;
    cursor: pointer;

}
